DISCORD_TOKEN=
DATABASE_URL=
RED_DAWN_MASTER_KEY=
DISCORD_DEV_GUILD_ID=

DB_POOL_MAX=5
FEED_POLL_MS=10000
NITRADO_API_TIMEOUT_MS=12000
NITRADO_API_BASE=https://api.nitrado.net

RED_DAWN_NAME=CUTTHROAT
RED_DAWN_RULES=
RED_DAWN_LINKS=

WEB_PORT=10000
PUBLIC_URL=
WEB_ADMIN_SECRET=
